<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/c3.css" rel="stylesheet" />
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    <script src="~/Scripts/c3.min.js"></script>
    <script src="~/Scripts/d3.min.js"></script>
    <script src="~/Content/Site.css"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body class="bg-black">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-transparent">
        <div class="container">

            <img src="@(Url.Content("~/Photos/Money.gif"))" alt="logo image" height="100" />
            <span id="logo"> @Html.ActionLink("Money Wave", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</span>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>

            </div>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    string username = Session["UserData"] as string;
                    string userImg = Session["UserImg"] as string;
                        <ul class="navbar-nav flex-grow-1 ms-auto">
                            <li>
                                @username &nbsp; &nbsp;
                                <img src="@(Url.Content(userImg))" style="border-radius:30px 30px;" height="30" width="40" />
                            </li>

                            <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, new { @class = "nav-link", @style = "color:red;font-size:20px;" })</li>
                            @{
                                if (User.IsInRole("Users"))
                                {
                                    <li>@Html.ActionLink("Explore Market","UserIndex","User", new { id = 2 },new { @class = "nav-link btn btn-success" })</li>
                                }
                                else if (User.IsInRole("Business"))
                                {
                                    <li>@Html.ActionLink("Manage Business", "BusinessIndex", "Business", new { area = "" }, new { @class = "nav-link btn btn-success" })</li>
                                }
                                else if (User.IsInRole("Admin"))
                                {
                                    <li>@Html.ActionLink("Manage Regions", "AdminIndex", "Admin", new { area = "" }, new { @class = "nav-link btn btn-success" })</li>
                                }
                            }
                        </ul>


            }
            else
            {
                <ul class="navbar-nav flex-grow-1 ms-auto">
                    <li>@Html.ActionLink("Login/Register", "Index", "Login", new { area = "" }, new { @class = "nav-link", @style = "color:red;font-size:20px;" })</li>
                </ul>
            }
            }
        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

